@import "./variables";

.home {
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
h1 {
  color: $white;
  margin: 0;
}
title {
  color: $white;
}
.intro {
  position: absolute;
  left: 5%;
  top: 50%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leftIntro {
  color: $white;
  width: 450px;
  font-family: "barlow";
}
.rightIntro {
  width: fit-content;
  overflow: visible;
  position: relative;

  button {
    border-radius: 50%;
    width: 186px;
    height: 186px;
    border: 0;
    background-color: $white;

    font-family: "Bellefair", serif;
    font-weight: 400;
    font-size: 32px;
    box-sizing: content-box;
    bottom: 20%;
    cursor: pointer;
  }
  button:hover {
    border: 44px solid rgba(255, 255, 255, 0.1);
    margin: -44px;
    background-clip: padding-box;
  }
}

@media (max-width: 768px) {
  .home {
    background-image: url(../assets/home/background-home-tablet.jpg);
    .intro {
      flex-direction: column;
      top: 202px;
      left: 159px;
      width: 450px;
      bottom: 0;
      align-items: center;
      text-align: center;
    }
  }
}
