@import "./variables";
.nav {
  position: absolute;
  top: 37px;
  left: 10%;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 96px;
  align-items: center;
  font-family: "barlow";
  font-size: 1em;
  z-index: 2;
  .links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    height: 96px;
    backdrop-filter: blur(10px);
    padding-right: 60px;
    padding-left: 60px;
    font-family: "barlow";
    font-size: 16px;
    letter-spacing: 2.7;

    a {
      text-align: center;
      text-decoration: none;
      color: $white;
      padding-top: 42px;
      padding-bottom: 42px;
    }

    a:hover {
      border-bottom: 2px solid rgb(255, 255, 255, 0.5);
    }
  }

  img {
    height: 48px;
    width: 48px;
  }
  .styled_line {
    width: 600px;
    margin: 20px 0;

    border-top: 1px solid rgba(208, 214, 249, 0.5);
    transform: translateX(30px);
    z-index: 2;
    background-clip: padding-box;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 400px;
  }
}
@media (max-width: 768px) {
  .styled_line {
    display: none;
  }

  .nav {
    max-width: 729px;

    .links {
      max-width: 450px;
    }
  }
}
