@import "./variables";
@import "./base.scss";
.tech {
  background-image: url(../assets/technology/background-technology-desktop.jpg);

  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-position: center;

  color: $white;
  background-size: cover;
}

.flexTechnology {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  top: 271px;
  height: 527px;
  right: 0;
  width: 100%;
  align-items: center;

  .techInfo {
    display: flex;
    flex-direction: row;
    color: $white;
    justify-content: space-around;

    min-width: 0;
    align-self: center;
  }
  .techDetails {
    max-width: 614px;
    h5 {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 28px;
      color: $greyish;
    }
    p {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 24px;
      color: $white;
      margin: 0;
    }
  }
  img {
    top: 272px;
    right: 0%;
    min-width: 0;
    max-width: 515px;
  }
}

.techIntro {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 212px;
  left: 166.5px;
  gap: 1rem;
  h4 {
    color: $greyish;
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  span {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .flexTechnology {
    position: absolute;
    top: 220px;
    flex-direction: column-reverse;
    left: 0;
    height: 700px;
    width: 768px;
    .techInfo {
      top: 232px;
      flex-direction: column;
      left: 0;
      width: 768px;
      text-align: center;
      align-items: center;
      .techDetails {
        text-align: center;
        width: 768px;
      }
    }
    img {
      min-width: 100%;
    }
  }
  .techIntro {
    top: 136px;
    left: 24px;
  }
}
