@import "./variables";
@import "./base.module.scss";
body {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  color: $white;
  overflow: hidden;

  .flexTechnology {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    top: 271px;
    height: 527px;
    right: 0;
    width: 100%;
    align-items: center;

    .techInfo {
      display: flex;
      flex-direction: row;
      color: $white;
      justify-content: space-around;
      // max-width: 614px;
      min-width: 0;
      align-self: center;
    }
    .techDetails {
      max-width: 614px;
      h5 {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 28px;
        color: $greyish;
      }
      p {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 24px;
        color: $white;
        margin: 0;
      }
    }
    img {
      top: 272px;
      right: 0%;
      min-width: 0;
      max-width: 515px;
    }
  }
}
.techIntro {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 212px;
  left: 166.5px;
  gap: 1rem;
  h4 {
    color: $greyish;
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
    margin: 0;
    width: 444px;
  }
}
@media (max-width: 768px) {
  .flexTechnology {
    top: 220px;
    flex-direction: column-reverse !important;

    .techInfo {
      top: 232px;
      flex-direction: column !important;

      max-height: 100vh;
      img {
        width: 100%;
        height: 310px;
      }
    }
    .techIntro {
      top: 136px;
      left: 24px;
      flex-direction: column;
      align-items: center;
    }
  }
}
