@import "./variables";
@import "./base.module.scss";
.tech {
  list-style-type: none;
  height: 300px;
  width: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 165px;
  text-align: center;
  align-self: center;
  button {
    height: 80px;
    width: 80px;

    border-radius: 50%;

    cursor: pointer;

    font-family: "Bellefair", serif;
    font-weight: 400;
    font-size: 32px;

    border: 1px solid $greyish;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  button:hover {
    border-color: $white;
  }
}
@media (max-width: 768px) {
  .tech {
    flex-direction: row;
    width: 210px;
    height: 60px;
    margin: 0;
    button {
      height: 60px;
      width: 60px;
    }
  }
}
